/src/user-extensions.js
/src/selenium-server-standalone-2.47.1.jar
/src/selenium-server-standalone-2.44.0.jar
/graphs/*.png
/gnuplot/*.dat
/src/results-runs-extended.txt
/gnuplot/Thumbs.db
/graphs/Thumbs.db
